@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');

html {
    background-color: rgb(148, 25, 25);
    
}

header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid rgb(190, 16, 16);
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-family: "Carme", sans-serif;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: auto;

}

.headerIzq{
    white-space: nowrap;
    gap: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.escudo{
    width: auto;
    height: 100px;

}

.headerCentro{
    align-items: center;
    text-align: center;
    display: flex;
}

.titulo1 {
    font-size: 30px;
    color: rgb(190, 16, 16);

}

.headerDch{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    color: rgb(190, 16, 16);
    
}
.titulo2{
    font-size: 15px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

main{
    display: flex;
    flex-direction: column;
    padding: 1%;
    font-family: "Carme", sans-serif;
    
}

.bestPlayers{
    color: white;
    font-size: 20px;

}

.articles{
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.player{
    color: antiquewhite;
    background: rgb(45, 42, 42);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


